html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E4DEC0;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

hr {
    border-top: 1px solid #DDD;
}
.btn {
    margin-left: 3px;
}
.header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.logo {
    text-align: center;
    margin-top: -3px;
}

.container-fluid {
    margin: 0 auto;
    max-width: 940px;
    background-color: white;
    border-color: #ABA67C;
    border-style: solid;
    border-width: 0px 1px;
    color: #112B56;
    overflow-y: visible;
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
    box-shadow: 0 0 30px 5px #999;
}

.addBtn {
    margin-top:-2px;
}

.content {
    padding:20px;
}

.boxTitle {
    margin: -10px -10px 20px -10px;
    padding: 10px;
    background-color: #ddd;
}

.upperBodyColor {
    z-index: -100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 433px;
    background-color: #D5CFB0;
}

.copyright {
    color: #3e3b2a;
    font-size: 7pt;
}

/*Modals*/

.selector {
    width: 100%;
    margin: 10px 0;
}

.infoBox {
    margin-top: 10px;
}

#courseListSmall {
    margin-bottom: 10px; 
    text-align: center;
}

.smallCourse {
    margin:3px;
    display: inline-block;
}

.courseTitle {
    margin: 3px 0px;
}

.editBtns {
    margin-top:10px;
}
.tags {
    position: relative;
    float:right;
    margin-top: -45px;
}

.entry {
    margin:6px;
}

.courseLabel {
    font-size: 13px;
}

.dateLabel {
    text-align: right;
    margin: -11px -1px;
}

.noteLabel {
    font-size:12px;
}

.listTitle {
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px 0px 3px 0px;
}
