{% autoescape off %}

.well 

    form#addAnnounce(method="post", action="/announcements")
        fieldset
            legend Add an Announcement
            div
                input(name="title", type='text', placeholder='Reminder Title…')
            //- span.help-block Example block-level help text here.
            div
                textarea(name="text", placeholder="Reminder subtext (optional)", style="width:100%; height:140px;")
            div
                button.btn(type="submit") save

{% endautoescape %}