{% autoescape off %}

.well.well-small
  h4.boxTitle.well Assignments
    a.btn.btn-small.addBtn.btn-primary.pull-right(href="#addClass", data-toggle='modal') &plus;
     
  .alert.alert-warning You don't have any assignments!
    a.close(data-dismiss='alert', href='#') &times;

  //for assign in assignments
    
  //.well.well-small
    input(type='checkbox', value='wednesday')
    |  Homework One
    .pull-right
        span.label EECS 281
  //.well.well-small
    input(type='checkbox', value='wednesday')
    |  Worksheet
    .pull-right
        span.label EECS 370
{% endautoescape %}