{% autoescape off %}

.well.well-small
  h4.boxTitle.well Assignments
    a.btn.btn-small.addBtn.btn-primary.pull-right(href="#addAssign", data-toggle='modal') &plus;
     
  .alert.alert-warning.hide#assignAlert You don't have any assignments!
    a.close(data-dismiss='alert', href='#') &times;

  #assignList
{% endautoescape %}