{% autoescape off %}

.selector

  input(type="text", name="title", placeholder="Title").title
  .form-inline
    input(type="text", name="instructor", placeholder="Instructor").input-medium
    input(type="text", name="location", placeholder="Location").input-small
  
  .course-time
    .days-pick.btn-group(data-toggle="buttons-checkbox")
      a.btn.btn-small(day="MO") MO
      a.btn.btn-small(day="TU") TU
      a.btn.btn-small(day="WE") WE
      a.btn.btn-small(day="TH") TH
      a.btn.btn-small(day="FR") FR

    .input-append.bootstrap-timepicker
      input(type="text", name="start_time", placeholder="Start Time").input-mini
      span.add-on
        i.icon-time
    .input-append.bootstrap-timepicker
      input(type="text", name="end_time", placeholder="End Time").input-mini
      span.add-on
        i.icon-time
    
  input(type="text", name="site_link", placeholder="Course Page")
  input(type="email", name="prof_email", placeholder="Email").input-medium

{% endautoescape %}