{% autoescape off %}

.well.well-small.box
  h4.boxTitle.well Courses
    a.btn.btn-small.addBtn.btn-success.pull-right(href="#addClass", data-toggle='modal')
      i.icon-plus.icon-white
   

  .alert.alert-info.hide#courseAlert
    a.close(data-dismiss='alert', href='#') &times;
    p You don't have any courses!
    //-a.btn.btn-warning.btn-mini(href="#", role='button', disabled="disabled") Import Schedule
    a.btn.btn-success.btn-mini(data-toggle='modal', href="#addClass", role='button') Add Courses  
  #courseList

{% endautoescape %}