{% autoescape off %}

.well.well-small.box#courseList
  h4.boxTitle.well
    i.icon.icon-book
    |  Courses
    a.btn.btn-small.addBtn.btn-success.pull-right(href="#addCourse", data-intro="Add a New Course", data-position="left")
      i.icon-plus.icon-white
   

  .alert.alert-info.hide#courseAlert
    span You don't have any courses! 
    //a.btn.btn-warning.btn-mini(href="#", role='button', disabled="disabled") Import Schedule
    a.btn.btn-success.btn-mini(href="#addCourse") Add Your First Course  
    
  .list
    .center ...loading

{% endautoescape %}