{% autoescape off %}

.well.well-small
  h4.boxTitle.well Extracurricular
    a.btn.btn-small.addBtn.btn-primary.pull-right(href="#addClass", data-toggle='modal') &plus;
     
  
  .alert.alert-warning You don't have any activites!
    a.close(data-dismiss='alert', href='#') &times;

  //for event in events
    .well.well-small=event

{% endautoescape %}