{% autoescape off %}

.well.well-small
  h4.boxTitle.well Exams
    a.btn.btn-small.addBtn.btn-primary.pull-right(href="#addExam", data-toggle='modal') &plus;
     
  .alert.alert-warning.hide#examAlert You don't have any exams!
    a.close(data-dismiss='alert', href='#') &times;

  #examList
{% endautoescape %}