{% autoescape off %}


.row-fluid
  .span2 Achievement:
  if (achievement > 60)
    .progress.progress-success.progress-striped
      .bar(style='width: #{achievement}%;')
  else
    .progress.progress-danger.progress-striped
      .bar(style='width: #{achievement}%;')
      
.row-fluid
  .span7
    include courses
    include reminders
  .span5.row
    include assignments
    include exams
    include events

{% endautoescape %}