{% autoescape off %}

!!! 5
html

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
      
    title LSA myTime
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/datepicker.css')
    script(src="js/jquery.min.js", type="text/javascript")
    script(src="js/bootstrap.min.js", type="text/javascript")
    script(src="js/bootstrap-datepicker.js", type="text/javascript")  
    script(src="js/app.js", type="text/javascript")
  
  body
    div(style='height: 100%;')
      .upperBodyColor
      .container-fluid.main
        
        .content
          .row-fluid.header
            .span4.logo: a(href="/"): img(src='img/logo.png')
            .navbar.span8
              .navbar-inner
                .container#mainNav
                  button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.brand(href='#home') myTime
                  .nav-collapse
                    ul.nav
                      if(admin)
                        li: a(href='#admin',class="tabNav") Admin
                    ul.nav.pull-right
                      li: a(href='#account', role='button', data-toggle='modal')
                            i.icon-user 
                            |  #{name} 
                  
           
          .tab-content
            #home.tab-pane.active
              include home
            if(admin)
              #admin.tab-pane
                include admin

        include modals 
      //-.container-fluid.row-fluid.copyright(style='text-align: center;')
          .span4 College of Literature, Science, and the Arts
          .span4 435 S. State Street, Ann Arbor, MI 48109
          .span4 © 2012 Regents of the University of Michigan

        
        


{% endautoescape %}