{% autoescape off %}

#account.modal.hide.fade
  form.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3=user
      .modal-body
        .control-group
            label.control-label(for='inputEmail') Email
            .controls
              input#inputEmail(type='text', placeholder='Email')
        .control-group
          label.control-label(for='inputPassword') Password
          .controls
            input#inputPassword(type='password', placeholder='Password')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Save Changes

#addClass.modal.hide.fade
  form.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 New Class
      .modal-body
        .control-group
          label.control-label Class Name
          .controls
            input(type='text', name="class", placeholder='EECS 280')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Add Class

{% endautoescape %}