{% autoescape off %}

form#account.modal.hide.fade.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3=user
      .modal-body
        .control-group
            label.control-label(for='inputEmail') Email
            .controls
              input#inputEmail(type='text', placeholder='Email')
        .control-group
          label.control-label(for='inputPassword') Password
          .controls
            input#inputPassword(type='password', placeholder='Password')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Save Changes





form#getStarted.modal.hide.fade.form-horizontal
  
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Import Classes:
      .modal-body
        p Looks like you're in EECS 281, take a look at your syllabus.
        .control-group
          label.control-label Exam One:
          .controls
            #exam1.input-append.date(data-date='10/12/2012', data-date-format='mm/dd/yyyy')
              input.span2(size='16', type='text', value='10/12/2012')
              span.add-on: i.icon-calendar

        .control-group
          label.control-label Prof. Email:
          .controls
            .input-append
              input.span2(name="email", type='text', placeholder="johndoe",style="width:94px; text-align:right;")
              span.add-on @umich.edu
              

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Next



form#addClass.modal.hide.fade.form-horizontal
  
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 New Class
      .modal-body
        .control-group
          label.control-label Class:
          .controls.form-inline.halfsize
            input.input-mini.classDept(type='text', name="classDept", placeholder='EECS')
            input.input-mini.classNumber(type='text', name="classNum", placeholder='280')
                
        .control-group
          label.control-label Location:
          .controls.form-inline.halfsize
            input.input-mini.classDept(type='text', name="bldng", placeholder='BBB')
            input.input-mini.classNumber(type='text', name="bldNumber", placeholder='1670')
        
        
        .control-group
          label.control-label Day:
          .controls.fullsize
            label.checkbox.inline
              input(type='checkbox', value='monday') 
              | M
            label.checkbox.inline
              input(type='checkbox', value='tuesday') 
              | T
            label.checkbox.inline
              input(type='checkbox', value='wednesday') 
              | W
            label.checkbox.inline
              input(type='checkbox', value='thursday') 
              | T
            label.checkbox.inline
              input(type='checkbox', value='friday') 
              | F
        
        .control-group
          label.control-label Instructor:
          .controls.fullsize
            input.classInstructor(type='text', name="instructor", placeholder='John Doe')
        
        .control-group
          label.control-label Email:
          .controls.fullsize
            .input-append
              input.span2(name="email", type='text', placeholder="johndoe",style="width:118px; text-align:right;")
              span.add-on @umich.edu

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Add Class

{% endautoescape %}