{% autoescape off %}
if noob
  form#welcome.modal.fade.form-horizontal
      .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Welcome, #{user}.

        .modal-body
          //h3 myTime can help you stay organized!
          h4 Get the grades you want, with myTime!
          ul
            li Sync your classes with Google calendar.
            li Track important assignments, tests, and events.
            li Reflect on how you are doing during the semester.
            li Help make sure your priorities are on target. 
      .modal-footer
        //h4.pull-left get started:
        //a.btn.btn-danger(href="http://www.google.com") Nope
        // import not working yet :(
        //- add data-dismiss='modal',  href="#importClasses"
        a.btn.btn-warning(href="#", role='button', disabled="disabled", data-toggle='modal') Import Schedule 
        a.btn.btn-success(data-dismiss='modal', href="#addClass", role='button', data-toggle='modal') Add Manually  
        
form#account.modal.hide.fade.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3=user
      .modal-body
        .control-group
            label.control-label(for='inputEmail') Email
            .controls
              input#inputEmail(type='text', placeholder='Email')
        .control-group
          label.control-label(for='inputPassword') Password
          .controls
            input#inputPassword(type='password', placeholder='Password')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Save Changes

form#addClass.modal.hide.fade.form-horizontal
  
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 New Class

      .modal-body
        .control-group
          label.control-label Clases:
          .controls.form-inline#courseListSmall
        .control-group
          label.control-label Department:
          .controls.form-inline
            select.deptSelector(disabled="true")
        .control-group
          label.control-label Course:
          .controls.form-inline
            select.numSelector(disabled="true")
        .control-group
          label.control-label Section:
          .controls.form-inline
            select.sectSelector(disabled="true")
        .control-group
          label.control-label Info:
          .controls.form-inline
            input#idToAdd(type="hidden", name="id")
            .infoBox(type="text", disabled="true", value="person") 
        
    .modal-footer
      button.btn.btn-info.pull-left(data-dismiss='modal') Done Adding
      button.btn.btn-success(type='submit',id="addClassBtn") Add
      
{% endautoescape %}