{% autoescape off %}

.well.well-small.box#reminderList
  h4.boxTitle.well.reminderHead Tasks and Reminders

    a.btn.btn-small.addBtn.btn-success.pull-right(href="#addReminder")
      i.icon-plus.icon-white
    a.btn.btn-small.addBtn.btn-warning.pull-right.sort(data-toggle="button")
      i.icon-th-list.icon-white
     
  .alert.alert-warning.hide
    | Look at your syllabus! Add upcoming exams, projects, and homeworks.

  .list loading

 {% endautoescape %}