{% autoescape off %}

.well.well-small
  h4.boxTitle.well Reminders
    a.btn.btn-small.addBtn.btn-primary.pull-right(href="#addReminder", data-toggle='modal') &plus;
     
  .alert.alert-warning.hide#remindAlert You don't have any assignments!
    a.close(data-dismiss='alert', href='#') &times;

  #remindList
{% endautoescape %}