{% autoescape off %}

.well.well-small.box#reminderList
  h4.boxTitle.well.reminderHead Tasks and Reminders

    .btn-group.pull-right.addBtn
      a.btn.btn-small.btn-success(href="#addReminder")
        i.icon-plus.icon-white
      a.btn.btn-small.dropdown-toggle(data-toggle='dropdown')
        i.icon-list
      ul.dropdown-menu
        li: a Due Date
        li: a Course
        li: a Type
        li: a Completed

     
  .alert.alert-warning.hide
    | Look at your syllabus! Add upcoming exams, projects, and homeworks.

  .list loading
  a.btn.btn-small.addBtn.btn-warning.pull-right.viewAll.hide
    i.icon-eye-open.icon-white
    |  View All
 {% endautoescape %}