{% autoescape off %}

input.typeTag(type='hidden', name="type")

.hidden-phone
  .reminderTag.btn-group(data-toggle="buttons-radio")
    a.btn.active(value="") None
    a.btn(value="Homework") Homework
    a.btn(value="Project") Project
    a.btn(value="Exam") Exam
    a.btn(value="Goal") Goal
    a.btn(value="To Do") To Do

//- split in two for the phone
.visible-phone
  .reminderTag.btn-group(data-toggle="buttons-radio")
    a.btn.btn-small.active(value="") -
    a.btn.btn-small(value="Homework") Hwk.
    a.btn.btn-small(value="Project") Proj.
    a.btn.btn-small(value="Exam") Exam.
    a.btn.btn-small(value="Goal") Goal
    a.btn.btn-small(value="To Do") ToDo


.row-fluid
  .span8
    .row-fluid
      .span6
        .control-group
          input.width100.reminderTitle(type='text', name="title", placeholder="Title")
          .left
            a.showNote Add Note
      .span6
        .control-group
          select.courseSelector(name="course")

    .control-group
      textarea.width100.note.hide(name="note", placeholder="Note")
  .span4
    .control-group
      .input-prepend.date.datetime
        span.add-on
          i.icon-calendar
        input(type='text', name="date", placeholder="Date", readonly)
      
      .input-prepend.bootstrap-timepicker.startTime.datetime.hide
        span.add-on
          i.icon-time
        input(type="text", name="start_time", placeholder="Time")
        

      .input-prepend.bootstrap-timepicker.endTime.datetime.hide
        span.add-on
          i.icon-time
        input(type="text", name="end_time", placeholder="Time")
        
      
      a.showStartTime Add Time
      a.showEndTime.hide Add End Time
input(type="checkbox", name="addCal") 
|  Add to your Google Calendar

    
{% endautoescape %}