{% autoescape off %}

.well.well-small.hidden-phone
  h4.boxTitle.well Reminders

  .well.well-small Reminders provided by LSA
  .well.well-small Based on major, class year, etc
  

{% endautoescape %}