{% autoescape off %}
.hide
  script#reminder-template(type="template")
    <% if (!hide) { %>
    .row-fluid
      div(class!="span9 <% if(completed) print('strike'); if (is_overdue) print(' overdue'); %>")
        .courseLabel <%= course_str + " " + type %>
        h4.listTitle <%= title %>
        .dateLabel <%= start_time %> <%= date %>
          <% if (add_to_cal) { %>
          .i.icon-calendar
          <% } %>
        .noteLabel <%= note %>
      .span3
        span.pull-right
          .btn-group
            button.btn.complete
              i(class!="<% if(completed) print("icon-minus"); else print("icon-ok"); %>")
            button.btn.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu.pull-right
              li
                a.edit(href='#editReminder/<%= id %>') Edit Details

              li
                a.delete(href='#') Delete
    <% if (!is_last) { %> 
    hr
    <% } %>
    <% } %>

  script#course-template(type="template")
    .entryTitle(data-id!='<%= id %>')
        h4.courseTitle <%= code +' '+ number %>
        | <%= title +' ('+ type +')'%>
      .tags
        span.badge  <%= days +' '+ start_time %>
      .row-fluid
        .span7
          | <%= instructor %>
          br
          | <%= location %>
        .span5
          .pull-right.editBtns
            .btn-group
              <% if(prof_email) { %> 
              a.btn(role='button', href!="mailto:<%= prof_email %>")
                i.icon-envelope
              <% } %>
              <% if(site_link) { %> 
              a.btn(role='button', href!="<%= site_link %>", target='_blank')
                i.icon-globe
              <% } %>
              a.btn.dropdown-toggle(data-toggle='dropdown')
                i.icon-pencil 
                span.caret
              ul.dropdown-menu.pull-right
                li
                  a(href='#editCourse/<%= id %>') Edit Details
                li
                  a.delete(href='#') Delete
            button.btn.reminds(data-toggle="button")
              i.icon-bell
    <% if (!is_last) { %> 
    hr
    <% } %>

  script#announce-template(type="template")
      h4.listTitle <%= title %>
      .listText <%= text %>
      <% if (!is_last) { %> 
      hr
      <% } %>

  script#code-select-template(type="template")
    option(value!="<%= code %>") <%= subject %>

  script#num-select-template(type="template")
    option(value!="<%= number %>") <%= number +" - " + title %>

  script#sect-select-template(type="template")
    option(value!="<%= id %>") <%= section + " " + type %> 
      | <% if(instructor) print(" - "+instructor);%> 
      | <% if(days) print(" - "+days+ " - " +start_time );%>


  script#reminder-template-demo(type="template")
    .entry
      .row-fluid
          .span9(data-intro="Details, Due Date, and Course", data-position="bottom")
            .courseLabel
              | MYTIME 101 Project
            h4.listTitle
              | Example Assignment
            .dateLabel
              | 4:00 PM 05/05/13
            .noteLabel
          .span3
            span.pull-right
              .btn-group(data-intro="Complete or Edit", data-position="bottom")
                button.btn.complete
                  i.icon-ok
                button.btn.dropdown-toggle(data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    a.edit(href='#editReminder/12345') Edit Details
                  li
                    a.delete(href='#') Delete

  script#course-template-demo(type="template")
    .entry
      .entryTitle(data-id='1234')
          h4.courseTitle
            | MYTIME 101
          | Intro to MyTime (LEC)
        .tags(data-intro="Days and Time", data-position="left")
          span.badge MO,WE 10:30 AM
        .row-fluid
          .span7(data-intro="Course Title, Info, and Location", data-position="bottom")
            | Professor MyTime
            br
            | 1800 CHEM
          .span5
            .pull-right.editBtns
              .btn-group(data-intro="E-mail, Course Page, and Edit", data-position="bottom")
                a.btn(role='button', href='mailto:mytime@umich.com')
                  i.icon-envelope
                a.btn(role='button', href='http://www.google.com', target='_blank')
                  i.icon-globe
                a.btn.dropdown-toggle(data-toggle='dropdown')
                  i.icon-pencil
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    a(href='#editCourse/1234') Edit Details
                  li
                    a.delete(href='#') Delete
              button.btn.reminds(data-toggle='button', data-intro="Isolate Course Reminders", data-position="bottom")
                i.icon-bell


{% endautoescape %}