{% autoescape off %}
.hide
  script#reminder-template(type="template")
    .row-fluid
      div(class!="span9 <% if(completed) print("strike") %>")
        .courseLabel <%= coursename + " " + type %>
        h4.listTitle <%= title %>
        .noteLabel <%= note %>
      .span3
        span.pull-right
          .dateLabel <%= date %>
          .btn-group
            button.btn.complete
              i(class!="<% if(completed) print("icon-check"); else print("icon-ok"); %>")
            button.btn.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu.pull-right
              //li
                a(href='#') Edit
              li
                a.delete(href='#') Delete
    

  script#course-template(type="template")
    .entryTitle(data-id!='<%= id %>')
        h4.courseTitle <%= code +' '+ number %>
        | <%= title +' ('+ type +')'%>
      .tags
        span.badge  <%= days +' '+ start_time %>
      .row-fluid
        .span7
          | <%= instructor %>
          br
          | <%= location %>
        .span5
          .pull-right.editBtns
            .btn-group
              a.btn(role='button', href!="mailto:<%= prof_email %>")
                i.icon-envelope
              a.btn(role='button', href!="<%= site_link %>", target='_blank')
                i.icon-globe
              a.btn.dropdown-toggle(data-toggle='dropdown')
                i.icon-pencil 
                span.caret
              ul.dropdown-menu.pull-right
                //li
                  a(href='#') Edit Details
                li
                  a.delete(href='#') Delete
    

  script#announce-template(type="template")
      h4.listTitle <%= title %>
      .listText <%= text %>

  script#code-select-template(type="template")
    option(value!="<%= code %>") <%= subject %>

  script#num-select-template(type="template")
    option(value!="<%= number %>") <%= number +" - " + title %>

  script#sect-select-template(type="template")
    option(value!="<%= id %>") <%= section + " " + type %> 
      | <% if(instructor) print(" - "+instructor);%> 
      | <% if(days) print(" - "+days );%>


{% endautoescape %}