{% autoescape off %}
.hide
  script#reminder-template(type="template")
    .row-fluid
      div(class!="span9 <% if(completed) print("strike") %>")
        //-.courseLabel <%= course.code +' '+ course.number +' '+ type %>
        h4.listTitle <%= title %>
        .noteLabel <%= note %>
      .span3
        span.pull-right
          .dateLabel <%= date %>
          .btn-group
            button.btn.completeRemind(data-id!='<%= id %>')
              i(class!="<% if(completed) print("icon-check"); else print("icon-ok"); %>")
            button.btn.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu.pull-right
              //li
                a(href='#') Edit
              li
                a.delete(href='#') Delete
    

  script#course-template(type="template")
    .entryTitle(data-id!='<%= id %>')
        h4.courseTitle <%= code +' '+ number %>
        | <%= title +' ('+ type +')'%>
      .tags
        span.badge  <%= days +' '+ time %>
      .row-fluid
        .span7
          | <%= instructor %>
          br
          | <%= location %>
        .span5
          .pull-right.editBtns
            .btn-group
              //a.btn(role='button', href='mailto:ottosipe@gmail.com')
                i.icon-envelope
              //a.btn(role='button', href='http://ctools.umich.edu', target='_blank')
                i.icon-globe
              a.btn.dropdown-toggle(data-toggle='dropdown')
                i.icon-pencil 
                span.caret
              ul.dropdown-menu.pull-right
                //li
                  a(href='#') Edit Details
                li
                  a.delete(href='#') Delete
    

  script#announce-template(type="template")
      h4.listTitle <%= title %>
      .listText <%= text %>

  script#code-select-template(type="template")
    option(value!="<%= code %>") <%= subject %>

  script#num-select-template(type="template")
    option(value!="<%= number %>") <%= "("+ number +") " + title %>

  script#sect-select-template(type="template")
    option(value!="<%= section %>") <%= section + " " + type %> <% if(instructor) print(" - "+instructor);%>


{% endautoescape %}